<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img {
    background-image: url("img2.jpg");
    background-color: #cccccc; 
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
 }

 .email p {
    font-weight: bold;
    padding: 10px;
 }

 .call p {
    font-weight: bold;
    padding: 10px;
 }

 .nav-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
 }

.nav-1 button {
    border: none;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    width: 220px;
    height: 40px;
    border-radius: 50px;
}

.nav-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(19, 19, 37);
    height: 100px;
    flex-wrap: wrap;
}

.nav-2 ul li, .nav-2 input[type=text] {
    list-style: none;
    display: inline-block;
}

.nav-2 ul li a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
}

.nav-2 input[type=text] {
    /* float: right; */
    padding: 6px;
    border-color: rgb(187, 185, 185);
    font-size: 17px;
    background-color: rgb(23, 23, 46);
    border-radius: 50px;
    color: white;
  }

.nav-2 ul .fchild a{
      color: dodgerblue;
  }

  .img {
      display: flex;
      justify-content: center;
      align-items: center;
  }

.body {
    /* position: absolute;
    left: 200px;
    top: 200px; */
    display: inline-block;
    margin: 20px;
  }

.body p {
    color: white;
  }

.body p:nth-child(2) {
    font-size: 50px;
  }

.body p:nth-child(3) {
    font-size: 50px;
}

.page2 {
    /* background-color: #cccccc; */
    background-color: white;
}

.img .body button {
    padding: 10px;
    border-radius: 50px;
    background-color: dodgerblue;
    color: white;
    border: none;
    margin-top: 20px;
}

.body-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
}

.half h1 {
    color: rgb(104, 104, 177);
    margin-bottom: 20px;
}

.half {
    padding: 20px;
    display: inline-block;
    padding: 10px;
    /* top: 100px; */
}

.half p {
    color: grey;
}

.cover {
    display: inline-block;
    background-color: black;
    width: 200px;
    height: 200px;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

@media (min-width: 280px) {
    .nav-1, .nav-2, #img, .page2{
        flex-wrap: wrap;
    }
}

.services {
    color: rgb(104, 104, 177);
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.service-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.service-list .web-dev {
    display: inline-block;
    /* background-color: #000; */
    width: 500px;
    height: 500px;
    color: #fff;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* padding: 10px; */
    /* border-radius: 10px; */
    flex-wrap: wrap;
    margin: 20px;
}

/* .service-list .web-dev h1 {
    text-align: center;
    color: rgb(104, 104, 177);
    margin-bottom: 20px;
} */

.webdev-img {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 500px;
    background-image: url("webdev1.jpg");
    background-size: cover;
    background-position: center;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* align-self: center; */
    /* margin: 20px; */
}

.line1 {
    background-color: red;
    height: 20px;
    width: 100px;
    position: absolute;
    top: 150px;
}

.web-dev .webdev-img:hover {
    transition: 0.8s;
    height: 400px;
}

.web-dev p, .product-design p {
    color: rgb(104, 104, 177);
    font-weight: bold;
    font-style: oblique;
    text-decoration: overline;
    /* text-decoration: underline; */
    margin: 20px;
}

.web-dev button, .product-design button {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border-style: none;
    margin: 20px;
}

.service-list .product-design {
    display: inline-block;
    /* background-color: blue; */
    width: 500px;
    height: 500px;
    color: #fff;
    /* padding: 10px; */
    /* border-radius: 10px; */
    margin: 20px;
}

.service-list .product-design .img {
    /* display: inline-block; */
    height: 200px;
    width: 500px;
    background-image: url("webdev2.jpg");
    background-size: cover;
    background-position: center;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* align-self: center; */
    /* margin: 20px; */
}

.product-design .img:hover {
    transition: 0.8s;
    height: 300px;
}

.hover {
    position: relative;
    display: inline-block;
}

.pva ul li {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.pva ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.pva ul li:hover {
    background-color: #ddd;
}

.hover:hover .pva ul li {
    display: block;
}

.pva ul li:hover .hover {
    background-color: #3e8e41;
} 


=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img {
    background-image: url("img2.jpg");
    background-color: #cccccc; 
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
 }

 .email p {
    font-weight: bold;
    padding: 10px;
 }

 .call p {
    font-weight: bold;
    padding: 10px;
 }

 .nav-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
 }

.nav-1 button {
    border: none;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    width: 220px;
    height: 40px;
    border-radius: 50px;
}

.nav-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(19, 19, 37);
    height: 100px;
    flex-wrap: wrap;
}

.nav-2 ul li, .nav-2 input[type=text] {
    list-style: none;
    display: inline-block;
}

.nav-2 ul li a {
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: white;
}

.nav-2 input[type=text] {
    /* float: right; */
    padding: 6px;
    border-color: rgb(187, 185, 185);
    font-size: 17px;
    background-color: rgb(23, 23, 46);
    border-radius: 50px;
    color: white;
  }

.nav-2 ul .fchild a{
      color: dodgerblue;
  }

  .img {
      display: flex;
      justify-content: center;
      align-items: center;
  }

.body {
    /* position: absolute;
    left: 200px;
    top: 200px; */
    display: inline-block;
    margin: 20px;
  }

.body p {
    color: white;
  }

.body p:nth-child(2) {
    font-size: 50px;
  }

.body p:nth-child(3) {
    font-size: 50px;
}

.page2 {
    /* background-color: #cccccc; */
    background-color: white;
}

.img .body button {
    padding: 10px;
    border-radius: 50px;
    background-color: dodgerblue;
    color: white;
    border: none;
    margin-top: 20px;
}

.body-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px;
}

.half h1 {
    color: rgb(104, 104, 177);
    margin-bottom: 20px;
}

.half {
    padding: 20px;
    display: inline-block;
    padding: 10px;
    /* top: 100px; */
}

.half p {
    color: grey;
}

.cover {
    display: inline-block;
    background-color: black;
    width: 200px;
    height: 200px;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}
/* 
@media (min-width: 280px) {
    .nav-1, .nav-2 {
        flex-wrap: wrap;
    }
} */

.services {
    color: rgb(104, 104, 177);
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.service-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.service-list .web-dev {
    display: flex;
    /* background-color: #000; */
    width: 500px;
    height: 500px;
    color: #fff;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* padding: 10px; */
    border-radius: 10px;
    flex-wrap: nowrap;
}

/* .service-list .web-dev h1 {
    text-align: center;
    color: rgb(104, 104, 177);
    margin-bottom: 20px;
} */

.webdev-img {
    height: 200px;
    width: 500px;
    background-image: url("webdev1.jpg");
    background-size: cover;
    background-position: center;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* align-self: center; */
    margin: 20px;
}

.web-dev .webdev-img:hover {
    transition: 0.8s;
    height: 400px;
}

.web-dev p, .product-design p {
    color: rgb(104, 104, 177);
    font-weight: bold;
    font-style: oblique;
    text-decoration: overline;
    /* text-decoration: underline; */
    margin: 20px;
}

.web-dev button, .product-design button {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border-style: none;
    margin: 20px;
}

.service-list .product-design {
    /* background-color: ; */
    width: 500px;
    height: 500px;
    color: #fff;
    /* padding: 10px; */
    border-radius: 10px;
}

.service-list .product-design .img {
    height: 200px;
    width: 500px;
    background-image: url("webdev2.jpg");
    background-size: cover;
    background-position: center;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* align-self: center; */
    margin: 20px;
}

.product-design .img:hover {
    transition: 0.8s;
    height: 400px;
}

.hover {
    position: relative;
    display: inline-block;
}

.pva ul li {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.pva ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.pva ul li:hover {
    background-color: #ddd;
}

.hover:hover .pva ul li {
    display: block;
}

.pva ul li:hover .hover {
    background-color: #3e8e41;
} 


>>>>>>> 42a78ccb75b396191e9c9f0732c450eb4baa2496
